---
import { Counter } from "../../components/Counter";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <a href="/" class="m-2 text-blue-600 hover:text-blue-500 underline">Home</a>
    <Counter
      transition:persist="counter"
      transition:persist-props
      client:visible
      initValue={55}
    />
  </body>
</html>
